<div class="main-content">
  <h1>Juegos, Liderazgo y Recreación</h1>
  <div class="menu">
    <%= link_to 'Juegos', juegos_path, class: "btn" %>
    <%= link_to 'Dinámicas', dinamicas_path, class: "btn" %>
    <%= link_to 'Aplausos', aplausos_path, class: "btn" %>
  </div>
</div>

<footer>
  Creado por: Matías Retamales, Macarena Ríos, Mayeli Santander, Leandro Valdes | Profesor: Cristian Rojas
</footer>
