<h1>Reflexión 1</h1>
<div class="reflexion-content">
  <p>Este curso de "Liderazgo: Juegos y Recreación" ha sido una verdadera revelación en cuanto a cómo el aprendizaje puede ser transformador a través del juego y la recreación. Cada sesión nos sumergió en actividades diseñadas no solo para divertirnos, sino para desarrollar habilidades fundamentales de liderazgo. Presentar un juego frente a nuestros compañeros no era solo una oportunidad para demostrar nuestras habilidades organizativas, sino un ejercicio profundo en comunicación efectiva, adaptabilidad y capacidad para motivar a otros. A medida que avanzábamos, no solo mejorábamos en dirigir juegos, sino que también descubríamos más sobre nosotros mismos y nuestras capacidades para influir positivamente en un grupo. La combinación de desafíos prácticos y un entorno de apoyo nos permitió no solo aprender, sino crecer juntos, fortaleciendo la confianza y la conexión entre todos nosotros.</p>

  <%= link_to 'Volver a Reflexiones', reflexion_path, class: "btn-back" %>
</div>
<style>
    .btn-back {
    margin-top: 20px;
    background-color: #4b0082; /* Morado oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    }

    .btn-back:hover {
    background-color: #6a0dad; /* Cambio de color al pasar el mouse */
    }
<style>