<h1>Reflexión 3</h1>
<div class="reflexion-content">
  <p>Más allá de los juegos y la diversión, este curso nos brindó herramientas prácticas para crecer tanto personal como profesionalmente. Presentar nuestros propios juegos fue un ejercicio en autodescubrimiento y autoconfianza. Nos enfrentamos a nuestros miedos, nos desafiamos a nosotros mismos y aprendimos a liderar desde un lugar de autenticidad y empatía. Cada juego no solo era una oportunidad para mejorar nuestras habilidades de presentación y liderazgo, sino también una lección en resiliencia y adaptabilidad. Estas habilidades son invaluablemente transferibles a cualquier contexto, ya sea en el ámbito académico, laboral o en nuestras relaciones personales. Aprendimos que ser un buen líder no se trata solo de las habilidades técnicas, sino también de la capacidad de inspirar y motivar a otros, habilidades que cultivamos profundamente a lo largo de este curso.

</p>

  <%= link_to 'Volver a Reflexiones', reflexion_path, class: "btn-back" %>
</div>
<style>
    .btn-back {
    margin-top: 20px;
    background-color: #4b0082; /* Morado oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    }

    .btn-back:hover {
    background-color: #6a0dad; /* Cambio de color al pasar el mouse */
    }
<style>