<h1>Reflexión 2</h1>
<div class="reflexion-content">
  <p>Uno de los aspectos más destacados del curso fue la manera en que los juegos fortalecieron nuestro trabajo en equipo y nuestra capacidad para confiar en los demás. En cada juego, desde actividades competitivas hasta colaborativas, aprendimos a reconocer y valorar las habilidades únicas que cada persona aporta al grupo. No se trataba solo de alcanzar un objetivo común, sino de construir relaciones sólidas y un sentido de comunidad. A través de desafíos que requerían comunicación clara, toma de decisiones conjunta y apoyo mutuo, descubrimos cómo superar obstáculos juntos y celebrar nuestros éxitos colectivos. Estas experiencias no solo mejoraron nuestras habilidades de liderazgo, sino que también nos enseñaron la importancia de la confianza y la colaboración en cualquier entorno.</p>

  <%= link_to 'Volver a Reflexiones', reflexion_path, class: "btn-back" %>
</div>
<style>
    .btn-back {
    margin-top: 20px;
    background-color: #4b0082; /* Morado oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    }

    .btn-back:hover {
    background-color: #6a0dad; /* Cambio de color al pasar el mouse */
    }
<style>