<h1>Juegos</h1>
<ul>
  <% @juegos.each do |juego| %>
    <li>
      <%= link_to juego.nombre, juego_path(juego), class: "btn-dinamicas" %>
    </li>
  <% end %>
</ul>
<div class="btn-back-container">
  <%= link_to 'Volver', root_path, class: "btn-back" %>
</div>
